.header-wrap {
  display: flex;
  background: #f2e5e5;
  width: 100%;
  height: 50px;
  align-items: center;
  position: relative; 
  .menu-wrap {
    display: none;
    @media screen and (max-width: 999px) {
      display: block;
    }
  }
  .logo-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    @media screen and (max-width: 1400px) and (min-width: 999px) {
      left: 30px;
      transform: none;
    }
    a {
      color: #000000;
      text-decoration: none;
    }
    img {
      width: 150px;
      padding-top: 12px;
    }
  }
  .cotact-section {
    margin-left: auto;
    margin-right: 60px;
    @media screen and (max-width: 999px) {
      display: none;
    }
    a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
      color: #000000;
      cursor: pointer;
    }
  }
  .phone-wrap {
    span {
      display: inline-block;
      padding-left: 4px;
    }
  }
  .menu-wrap {
    margin-left: 15px;
    margin-top: 5px;
    a {
      cursor: pointer;
    }
  }
}