.slider-wrap {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .slide-parrent {
    width: 200px;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }
  .siema-slide {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }
  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #ff0000;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    left: 50%;
  }
  .swiper-pagination-bullet {
    width: 45px;
    height: 5px;
    background-color: #ccc;
    border-radius: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  .swiper-pagination-bullet-active {
    background-color: #ffffff;
    opacity: 1;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    content: '';
    position: relative;
  }
}

// .swiper-button-next:after {
//   background-image: url('../../images/right-arrow.png');
//   background-size: cover;
//   background-position: center;
//   width: 20px;
//   height: 50px;
// }